#body {
    padding: 0;
    margin: 0;
    background-color: white;
}

#h1  {
    background-color: aquamarine;
    text-align: center;
}

#header {
    background-color: pink;
    text-align: end;
    border-bottom: 3px solid black;
}

#body-section {
    background-color: rgb(82, 193, 236);
}
