.super-mario {
    width: 200px;
    position: absolute;
    z-index: 2;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 1;
    top: 400px;
  }
  
  .baloon {
    position: absolute;
    z-index: 3;
    top: 580px;
    left: 20px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 4;
    top: 620px;
    left: 38px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    z-index: 5;
    top: 740px;
    left: 320px;
  }